/* 
    Created on : Oct 3, 2017, 11:49:22 AM
    Author     : cgonz
*/
body {
    font-family: Montserrat;
}

h2{
    text-align: center;
}

.center-img,figure.center-img{
    display: block;
    margin-left: auto;
    margin-right: auto 
}

#homepage-img{
    width:300px;
    height:200px;
}

ul{
    list-style: none;
}

menu-btn{
    width: 50px;
}

a.btn-center, figcaption{
    text-align: center;
}

#about-page{
    font-size: 1.2em;
}
